.btn {
    margin: 0 auto;
    border: solid 3px #fff;
    &_header {
        width: 280px;
        height: 68px;
        padding: 25px 0 30px 0;
        margin-bottom: 41px;
        a {
            text-decoration: none;
            text-align: center;
            font-family: Lato;
            font-size: 18px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.17;
            letter-spacing: 0.45px;
            text-align: center;
            color: #fff;
        }
    }
}