@import 'libs/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,700&display=swap');

html {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
*,
:before,
:after {
    box-sizing: inherit;
}
.container {
    width: 1150px;
    margin: 0 auto;
}
@import 'base/button';
@import 'blocks/hamburger';
@import 'blocks/header';
@import 'blocks/forms';
@import 'blocks/about';
@import 'blocks/app';
@import 'blocks/review';
@import 'blocks/menu'
