.about {
    min-height: 436px;
    &__wrapper {
        padding: 101px 0 97px 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
    }
    &__item {
        width: 360px;
        height: 67px;
        margin: 19px 21px 97px 17px;
        font-family: Lato;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.13;
        letter-spacing: 0.8px;
        text-align: center;
        color: #000;
        h3 {
            font-family: Lato;
            font-size: 18px;
            font-weight: bold;
            line-height: 1.67;
            letter-spacing: 0.9px;
            color: #000;
        }
        span {
            font-family: Lato;
            font-size: 16px;
            font-weight: 300;
            line-height: 1.33;
            letter-spacing: 0.8px;
            text-align: left;
            color:#999999; 
            
        }   
    }
    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 107px;
        height: 107px;
        margin: 0 auto;
        border:2px solid black ;
        border-radius: 100%;
        margin-bottom: 20px;
    }
    &__divider {
        width: 88px;
        height: 1px;
        margin: 0 auto;
        background-color:#f57365;
        &_app {
            margin: 0;
            margin-bottom: 19px;
        }
        &_food {
            margin-bottom: 40px;
        }
    }
}