.form {
    position: absolute;
    padding: 35px 40px 40px 40px;
    border-radius: 5px;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 600px;
    min-height: 400px;
    background: linear-gradient(25deg, #977294, #81125c);
    text-align: center;
    border-radius:5px;
    &__input {
        margin-bottom: 10px;
        & input {
            width: 80%;
            height: 50px;
            background-color:inherit;
            border:1px solid rgb(82, 68, 68);
        }
    }
    & h4 {
        text-shadow: -0.9px 0.5px 40px rgba(1, 1, 1, 0.55);
        font-size: 28px;
        font-weight: normal;
        letter-spacing: 1.8px;
        color: rgba(255, 255, 255, 0.7);
    }
    & span, a {
        color: rgba(255, 255, 255, 0.7);
    }
    &__login {
       visibility: hidden;
       opacity: 0;
       transition: all 0.4s; 
        &_active {
            visibility: visible;
            opacity: 1;
            transition: all 0.6s;        }
    }
    &__sign {
        visibility: hidden;
        opacity: 0;
        transition: all 0.4s; 
        &_active {
            visibility: visible;
            opacity: 1;
            transition: all 0.6s;        }
     }
}